* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: '#468585';
}

footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 2rem;
  background: rgba(53, 56, 73, 0.7);
  backdrop-filter: invert(100%);
  font-size: .9rem;
  color: white;
  width: 100%;
  font-family: var(--font-roboto);
}